<div class="pm-body-wrapper">
    <div class="pm-browser-wrapper">
        <div class="pm-header">
            <img class="pm-browser-icon" src="/apps/pcdepo/clientlibs/clientlib-site/resources/images/browser-icon.png">
            <span>pcdepo - ${properties.jcr:title}</span>
            <div class="pm-browser-window-icons">
                <img src="/apps/pcdepo/clientlibs/clientlib-site/resources/images/minimize.png">
                <img src="/apps/pcdepo/clientlibs/clientlib-site/resources/images/maximize.png">
                <img src="/apps/pcdepo/clientlibs/clientlib-site/resources/images/close.png">
            </div>
        </div>
    
        <div class="pm-browser-toolbars">
            <div class="pm-browser-toolbar-first">
                <div class="pm-browser-toolbar">
                    <div class="menu-bar">
                        <div class="menu-bar-item">
                          <button aria-label="Home"><a href="#"><u>H</u>ome</a></button>
                        </div>
                        <div class="menu-bar-item">
                          <button aria-label="Products"><a href="#"><u>P</u>roducts</a></button>
                          <ul class="menu">
                            <li>
                                <a href="#">
                                    <u>C</u>ategory1
                                    <span>
                                        <img src="/apps/pcdepo/clientlibs/clientlib-site/resources/images/minimize.png">
                                    </span>
                                </a>
                            </li>
                            <li class="divider"></li>
                            <li class="disabled"><u>C</u>ut<span>Ctrl+X</span></li>
                            <li class="disabled"><u>C</u>opy<span>Ctrl+C</span></li>
                            <li class="disabled"><u>P</u>aste<span>Ctrl+V</span></li>
                            <li class="disabled">De<u>l</u>ete<span>Del</span></li>
                            <li class="divider"></li>
                            <li>Select <u>A</u>ll</li>
                            <li>Time/<u>D</u>ate<span>F5</span></li>
                            <li class="divider"></li>
                            <li><u>W</u>ord Wrap</li>
                            <li>Set <u>F</u>ont...</li>
                          </ul>
                        </div>
                        <div class="menu-bar-item">
                          <button aria-label="File"><u>S</u>earch</button>
                          <ul class="menu">
                            <li><u>F</u>ind...</li>
                            <li>Find <u>N</u>ext<span>F3</span></li>
                          </ul>
                        </div>
                        <div class="menu-bar-item">
                          <button aria-label="File"><u>H</u>elp</button>
                          <ul class="menu">
                            <li><u>H</u>elp Topics</li>
                            <li class="divider"></li>
                            <li><u>A</u>bout Notepad</li>
                          </ul>
                        </div>
                      </div>
                </div>

                <div class="pm-browser-toolbar-logo">
                    <img src="/apps/pcdepo/clientlibs/clientlib-site/resources/images/computer_explorer_cool-0.png">
                </div>
            </div>
        </div>

        <div class="pm-browser-content-wrapper">
            <div class="pm-browser-content">
                <div data-sly-resource="${'hero' @ resourceType='/apps/pcdepo/components/hero'}" data-sly-unwrap="true">
                </div>
                
            </div>
        </div>

        <div class="pm-browser-footer">
            <div class="pm-browser-footer-href">
                <img src="/apps/pcdepo/clientlibs/clientlib-site/resources/images/browser-icon.png">
            </div>

            <div class="pm-browser-footer-square"></div>
            <div class="pm-browser-footer-square"></div>

            <div class="pm-browser-footer-location">
                <img src="/apps/pcdepo/clientlibs/clientlib-site/resources/images/world-0.png">
                <span class="text-lg">Internet</span>
                <img class="pm-browser-footer-location-resize" src="/apps/pcdepo/clientlibs/clientlib-site/resources/images/window-resize.png">
            </div>
        </div>
    </div>
</div>
