<header>
    <nav class="pcd-nav">
        <div class="heading-container">
            <a class="pcd-nav__logo" href="#" aria-label="PCDepo">
                <img class="logoimg" src="/apps/pcdepo/clientlibs/clientlib-site/resources/images/logo_header.svg">
                <div class="logotext">
                    <span>PC</span>
                    <span>Depo</span>
                </div>
            </a>

            <a class="hamburger" href="#">
                <span></span>
                <span></span>
                <span></span>
                <i class="fa-solid fa-xmark close"></i>
            </a>
        </div>

        <div class="pcd-nav__menu">
            <ul class="pcd-nav__menuitems">
                <li class="menuitem">
                    <a href="#">Home</a>
                </li>
                <li class="menuitem">
                    <a href="#">Products</a>
                    <button type="button" class="pcd-nav__subnav--dropdown" aria-expanded="false"></button>
                    <div class="pcd-nav__subnav">
                        <ul class="container">
                            <li><a href="#">GPUs</a></li>
                            <li><a href="#">CPUs</a></li>
                            <li><a href="#">Motherboards</a></li>
                            <li><a href="#">Memory Kits</a></li>
                            <li><a href="#">Storage</a></li>
                        </ul>
                    </div>
                </li>
                <li class="menuitem">
                    <a href="#">Categories</a>
                    <button type="button" class="pcd-nav__subnav--dropdown" aria-expanded="false"></button>
                    <div class="pcd-nav__subnav">
                        <ul class="container">
                            <li><a href="#">Verified Builds</a></li>
                            <li><a href="#">Community Builds</a></li>
                        </ul>
                    </div>
                </li>
                <li class="menuitem">
                    <a href="#">Completed Builds</a>
                </li>
            </ul>

            <div class="pcd-nav__secnav">
                <a class="search" href="#">
                    <i class="fa-solid fa-magnifying-glass"></i>
                </a>
                <a class="login" href="#">
                    <span>Login</span>
                </a>
                <a class="shoppingcart" href="#" aria-label="Shopping Cart">
                    <i class="fa-solid fa-basket-shopping"></i>
                    <span class="amount" aria-label="2 products in cart">2</span>
                </a>
            </div>
        </div>
    </nav>
</header>