<title>PCDepo - ${properties.jcr:title}</title>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="/apps/pcdepo/clientlibs/clientlib-site/css/site.css">
<script src="/apps/pcdepo/clientlibs/clientlib-site/js/site.js"></script>
<meta property="og:image" content="https://pcdepodev.alexbam.me/apps/pcdepo/clientlibs/clientlib-site/resources/images/pcdepo-logo.png" />
<meta property="og:description" content="PCDepo is the go-to place for PC enthusiasts. Check it out now!" />