<div class="pm-hero">
	<div class="window">
		<div class="title-bar">
		<div class="title-bar-text">
			<img class="pm-hero-title-icon" src="/apps/pcdepo/clientlibs/clientlib-site/resources/images/hot.gif">
			<span>Promos - Catch them while they last!</span>
		</div>
		<div class="title-bar-controls">
			<button aria-label="Minimize" disabled></button>
			<button aria-label="Maximize" disabled></button>
			<button aria-label="Close" disabled></button>
		</div>
		</div>
		<div class="window-body flex">
			<div class="pm-hero-wrapper">
				<div class="pm-hero-item">
					<div class="pm-hero-item-image">
						<img src="/apps/pcdepo/clientlibs/clientlib-site/resources/images/ibm-pc-xt.png">
					</div>

					<div class="pm-hero-item-text">
						<div class="pm-hero-item-text--title">
							The IBM PC XT
						</div>
	
						<div class="pm-hero-item-text--description">
							<p>More power to the person. This IBM PC will provide plenty of muscle.</p>
							<p>That's what IBM Personal Computer XT means to a person with heavyweight data to manage.</p>
							<p>Get yours today, at a spicy discount.</p>

							<button class="pm-hero-item-text--button">See Product</button>
						</div>
					</div>
				</div>
				<div class="pm-hero-item">
					<div class="pm-hero-item-image">
						<img src="/apps/pcdepo/clientlibs/clientlib-site/resources/images/ibm-pc-xt.png">
					</div>

					<div class="pm-hero-item-text">
						<div class="pm-hero-item-text--title">
							The IBM PC XT
						</div>
	
						<div class="pm-hero-item-text--description">
							<p>More power to the person. This IBM PC will provide plenty of muscle.</p>
							<p>That's what IBM Personal Computer XT means to a person with heavyweight data to manage.</p>
							<p>Get yours today, at a spicy discount.</p>

							<button class="pm-hero-item-text--button">See Product</button>
						</div>
					</div>
				</div>
				<div class="pm-hero-item">
					<div class="pm-hero-item-image">
						<img src="/apps/pcdepo/clientlibs/clientlib-site/resources/images/ibm-pc-xt.png">
					</div>

					<div class="pm-hero-item-text">
						<div class="pm-hero-item-text--title">
							The IBM PC XT
						</div>
	
						<div class="pm-hero-item-text--description">
							<p>More power to the person. This IBM PC will provide plenty of muscle.</p>
							<p>That's what IBM Personal Computer XT means to a person with heavyweight data to manage.</p>
							<p>Get yours today, at a spicy discount.</p>

							<button class="pm-hero-item-text--button">See Product</button>
						</div>
					</div>
				</div>
				<div class="pm-hero-item">
					<div class="pm-hero-item-image">
						<img src="/apps/pcdepo/clientlibs/clientlib-site/resources/images/ibm-pc-xt.png">
					</div>

					<div class="pm-hero-item-text">
						<div class="pm-hero-item-text--title">
							The IBM PC XT
						</div>
	
						<div class="pm-hero-item-text--description">
							<p>More power to the person. This IBM PC will provide plenty of muscle.</p>
							<p>That's what IBM Personal Computer XT means to a person with heavyweight data to manage.</p>
							<p>Get yours today, at a spicy discount.</p>

							<button class="pm-hero-item-text--button">See Product</button>
						</div>
					</div>
				</div>
				<div class="pm-hero-item">
					<div class="pm-hero-item-image">
						<img src="/apps/pcdepo/clientlibs/clientlib-site/resources/images/ibm-pc-xt.png">
					</div>

					<div class="pm-hero-item-text">
						<div class="pm-hero-item-text--title">
							The IBM PC XT
						</div>
	
						<div class="pm-hero-item-text--description">
							<p>More power to the person. This IBM PC will provide plenty of muscle.</p>
							<p>That's what IBM Personal Computer XT means to a person with heavyweight data to manage.</p>
							<p>Get yours today, at a spicy discount.</p>

							<button class="pm-hero-item-text--button">See Product</button>
						</div>
					</div>
				</div>
				<div class="pm-hero-item">
					<div class="pm-hero-item-image">
						<img src="/apps/pcdepo/clientlibs/clientlib-site/resources/images/ibm-pc-xt.png">
					</div>

					<div class="pm-hero-item-text">
						<div class="pm-hero-item-text--title">
							The IBM PC XT
						</div>
	
						<div class="pm-hero-item-text--description">
							<p>More power to the person. This IBM PC will provide plenty of muscle.</p>
							<p>That's what IBM Personal Computer XT means to a person with heavyweight data to manage.</p>
							<p>Get yours today, at a spicy discount.</p>

							<button class="pm-hero-item-text--button">See Product</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
