body {
    background-color: #EEEEEE;
    font-family: 'Nunito', sans-serif;
    height: 100%;
    width: 100%;
}

.content-wrapper > * {
    @media (min-width: $screen-medium) {
        margin: 0 auto;
        padding-right: 118px;
        padding-left: 118px;
    }
}
