.menu-bar {
  display: flex;
  background-color: $main-gray;
}

.menu-bar .menu-bar-item {
  position: relative;
}

.menu-bar .menu-bar-item > button {
  box-shadow: none;
  min-height: 20px;
  min-width: auto;
  outline: none;
  padding: 0 8px 0 8px;
  background-color: $main-gray;

  &:hover {
    border-top: 1px solid white;
    border-right: 1px solid gray;
    border-bottom: 1px solid gray;
    border-left: 1px solid white;
  }
}

.menu-bar .menu-bar-item > button:active,
.menu-bar .menu-bar-item > button:focus {
  box-shadow: inset -1px -1px #fff, inset 0px 0px #0a0a0a, inset -1px -1px #dfdfdf, inset 1px 1px grey;
  text-shadow: 0 0 #222;
  border: none;
}

.menu-bar .menu-bar-item > button:focus + .menu {
  display: block;
}

.window-body.frame {
  margin: 2px;
}

ul.menu {
  box-shadow: inset -1px -1px #0a0a0a, inset 1px 1px #dfdfdf, inset -2px -2px grey, inset 2px 2px #fff;
  display: none;
  list-style-type: none;
  margin: 0;
  min-width: 100px;
  padding: 2px;
  position: absolute;
  width: max-content;
  background-color: $main-gray;
  z-index: 999;
}

ul.menu > li:not(.divider) {
  cursor: default;
  padding: 3px 20px 3px 20px;
}

ul.menu li:not(.disabled):not(.divider):hover {
  background: #000080;
  color: #fff;
}

ul.menu li.disabled {
  color: #808080;
}

ul.menu li.divider {
  border-bottom: 1px solid #dfdfdf;
  border-top: 1px solid grey;
  margin: 2px;
}

ul.menu li > span {
  float: right;
  margin-left: 10px;
}
